/* Home Page styles */
.home {
  text-align: center;
  padding: 50px 20px;
}

.home h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.home p {
  font-size: 24px;
  color: #6c757d;
  margin-bottom: 40px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.image-gallery img {
  max-width: calc(33.333% - 20px);
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.image-gallery img:hover {
  transform: scale(1.05);
}
